<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Parent ID</th>
      <th>Content Type</th>
      <th>Body</th>
      <th>Created Date</th>
      <th>Salesforce ID</th>
    </tr>

    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.name %></td>
        <td><%= attachment.parentid %></td>
        <td><%= attachment.contenttype %></td>
        <td><%= attachment.body %></td>
        <td><%= attachment.createddate %></td>
        <td><%= attachment.sfid %></td>
      </tr>
    <% end %>
  </table>

</div>
