<div class="container">

  <body>
      <h1>Merge PDF's from Salesforce</h1>

      <form action="/pdfunite" method="POST" enctype="multipart/form-data">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Name</th>
            <th>Parent ID</th>
            <th>Content Type</th>
            <th>Body</th>
            <th>Created Date</th>
            <th>Salesforce ID</th>
          </tr>

          <% @attachments.each do |attachment| %>
            <tr>
              <input type="file" name="file_1">
              <input type="file" name="file_2">
              <input type="submit" value="Upload pdf">
              <td><%= attachment.name %></td>
              <td><%= attachment.parentid %></td>
              <td><%= attachment.contenttype %></td>
              <td><%= attachment.body %></td>
              <td><%= attachment.createddate %></td>
              <td><%= attachment.sfid %></td>
            </tr>
          <% end %>
        </table>
      </form>
  </body>

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Parent ID</th>
      <th>Content Type</th>
      <th>Body</th>
      <th>Created Date</th>
      <th>Salesforce ID</th>
    </tr>

    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.name %></td>
        <td><%= attachment.parentid %></td>
        <td><%= attachment.contenttype %></td>
        <td><%= attachment.body %></td>
        <td><%= attachment.createddate %></td>
        <td><%= attachment.sfid %></td>
      </tr>
    <% end %>
  </table>



</div>
