
<html>
    <head>
        <title>FILE STUFF</title>
    </head>
    <body>
        <h1>Upload Image</h1>

        <form action="http://itp.nyu.edu/~rsm347/sinatra/file_upload/save_image" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form>
    </body>

    <body>
        <h1>Upload PDF</h1>

        <form action="/pdfunite" method="POST" enctype="multipart/form-data">
            <input type="file" name="file_1">
            <input type="file" name="file_2">
            <input type="submit" value="Upload pdf">
        </form>
    </body>


    <%= form_tag('/pdfunite', multipart: true) do %>

      <label>PDF file 1</label>
      <%= file_field_tag :file_1 %>

      <label>PDF file 2</label>
      <%= file_field_tag :file_2 %>

      <div class="submit-buttons">
        <%= submit_tag 'Download PDF', class: 'btn btn-primary' %> or
        <%= submit_tag 'Upload it to S3', class: 'btn' %>
      </div>

    <% end %>
</html>
