<html>
    <head>
        <title>FILES MERGED!</title>
    </head>
    <body>
      SUCCESS!! GO TO:
        https://agtesthypdf.s3.amazonaws.com/


        <table class="table table-striped table-bordered" title="FILE 1">
          <tr>
            <th>Name</th>
            <th>Parent ID</th>
            <th>Content Type</th>
            <th>Created Date</th>
            <th>Salesforce ID</th>
          </tr>

          <% @file_1.each do |f1| %>
            <tr>
              <td><%= f1.name %></td>
              <td><%= f1.parentid %></td>
              <td><%= f1.contenttype %></td>
              <td><%= f1.createddate %></td>
              <td><%= f1.sfid %></td>
            </tr>
          <% end %>
        </table>

        <table class="table table-striped table-bordered" title="FILE 2">
          <tr>
            <th>Name</th>
            <th>Parent ID</th>
            <th>Content Type</th>
            <th>Created Date</th>
            <th>Salesforce ID</th>
          </tr>

          <% @file_2.each do |f2| %>
            <tr>
              <td><%= f2.name %></td>
              <td><%= f2.parentid %></td>
              <td><%= f2.contenttype %></td>
              <td><%= f2.createddate %></td>
              <td><%= f2.sfid %></td>
            </tr>
          <% end %>
        </table>


</body>
</html>
